HTML   JS  Result
Edit on 
<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>

<body>

    <style>
.modebar.modebar--hover {
    display: none;
}</style>
  
  <div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <h1 id="analysis"></h1>
  <script>
    var data = sessionStorage.bt;
    data = JSON.parse(data);
    console.log(data);

    var points = data['points'];

    var phours = [];
    var pst = [];

    var nhours = [];
    var nst = [];

    var sst = points['st'];
    var hrs = points['hour'];

    for (var i = 0; i < hrs.length; i++) {
        if (sst[i] > 0) {
            phours.push(hrs[i]);
            pst.push(sst[i]);
        } else {
            nhours.push(hrs[i]);
            nst.push(sst[i]);
        }
    }

    var trace1 = {
      x: phours, 
      y: pst, 
      mode: 'markers', 
      name: 'Positive', 
      marker: {
        //color: 'rgb(164, 194, 244)', 
        size: 12
      }, 
      type: 'scatter'
    };

    var trace2 = {
      x: nhours, 
      y: nst, 
      mode: 'markers', 
      name: 'Negative', 
      marker: {
        //color: 'rgb(164, 194, 244)', 
        size: 12
      }, 
      type: 'scatter'
    };

    var dat = [trace1, trace2];

    var layout = {
      title: 'Hour vs. Sentiment', 
      xaxis: {
        title: 'Hour of the day', 
        showgrid: false, 
        zeroline: false
      }, 
      yaxis: {
        title: 'Positivity (max 1.0)', 
        showline: false
      }
    };

    Plotly.newPlot('myDiv', dat, layout); 

    var avg = data['avg'];
    var hour = avg['hour'];
    var st = avg['st'];
    var max = -1;
    var mh = 0;
    for (var i = 0; i < st.length; i++) {
        if (st[i] > max) {
            max = st[i];
            mh = hour[i];
        }      
    }

    $("#analysis").html("Your most positive tweets happen at " + mh + " with an average positivety of " + max + ". You should tweet more then.");

  </script>
</body>
